---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="Grow with us " id="intro">
  <!-- <Icon slot="eyebrow" name="logomark" class="h-32" /> -->
  <Fragment slot="lead">
    Join us in GDG Guelmim's 
    <span class="text-primary">DevFest</span>
     to 
    <span class="text-primary">learn</span>
     , 
    <span class="text-primary">enjoy</span> your time and get 
    <span class="text-primary">Inspired</span>. 
    But first become a member in our <span class="text-primary"> <a href="https://gdg.community.dev/gdg-guelmim/" style="text-decoration: underline ;"> Community</a></span> .

  </Fragment>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d872.4764932072144!2d-10.064849603552041!3d28.990157168365066!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xdb503e8da583fb7%3A0xf41ee4df9447d630!2z2KfZhNiu2LLYp9mG2Kkg2KfZhNmI2LPYp9im2LfZitip!5e0!3m2!1sen!2sma!4v1668786726422!5m2!1sen!2sma" width="85%" height="400px"  class="rounded-3xl" allowfullscreen="true" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  
  <br>
  <!-- <div class="grid grid-cols-1 gap-2 sm:grid-cols-2"> 
    <a
      href="https://docs.astro.build/"
      class="flex items-center justify-center gap-3 px-6 py-4 border-2 border-current"
    >
      <Icon pack="mdi" name="telescope" class="h-8" />
      <span>Read the docs</span>
    </a>
    <a
      href="https://astro.new/"
      class="flex items-center justify-center gap-3 px-6 py-4 border-2 border-current"
    >
      <Icon pack="mdi" name="rocket" class="h-8" />
      <span>Try it out</span>
    </a>
  </div>-->
</ContentSection>
